<% include headeruser %>
      <div class="jumbotron login">
          <div class="container text-xs-center">
            <h1 class="">CONTACT</h1>
                <hr class="my-2">
                <div class="col-sm-6 push-sm-3">
                    
                    <form action="" method="POST" class="frmContact">
                        <input type="text" id="login" class="" name="user" placeholder="Name"><br/>
                        <input type="text" id="password" class="" name="password" placeholder="Email address"><br/>
                        <input type="text" id="login" class="" name="user" placeholder="Subject"><br/>
                        <input type="text" id="password" class="" name="password" placeholder="Message"><br/>
                        <input type="submit" class="btn btn-success btnSubmit" value="SEND">
                    </form>
                </div>
                
          </div>
          
      </div>
<% include footeruser %>