<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 footer-left">
                <p>Copyright©nguyenvanduong</p>
            </div>
            <div class="col-sm-4 text-sm-right footer-right">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-youtube"></i>
                <i class="fa fa-twitter"></i>
            </div>
        </div>			
    </div>
</footer>
</body>
</html>